$breakpoints: (
    small-phone: 321px,
    phone: 640px,
    tablet: 768px,
    desktop: 1023px,
) !default;

@mixin phone {
    @media (max-width: map-get($breakpoints, phone)) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop {
    @media (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}


